html{
    overflow: hidden;
}

body img{
    max-width: 50%;
    margin-left: 25%;
    
}

@media screen and (max-width:740px){
    body img{
        max-width: 100%;
        margin:0;
        padding: 0;
    }
}