*{
    margin:0;
    padding:0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;
}
header{
    width:100%;
    height:100vh;
    background-image: url("WEB/image.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 40px;
    margin-right: 20%;
    float: left;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:#16fa0a;
    text-decoration: none;
    font-size: 32px;
    font-style:italic;
    position: relative;
}
nav ul li a::after  {
    content: '';
    width:0;
    height:3px;
    background:#ffffff;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition:0.5s;
} 
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 2%;
    font-size: 60px;
}
.header-text h1{
    font: size 60px;
    margin-top:2%;
}
.header-text h1 span{
    color:#03ff1c;
}
#about{
    padding: 80px 0;
    color:#ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    width :100%;
    border-radius: 15px;
    font-size:  100px;;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 40px;
}
.subtitle{
    font-size:60px;
    font-weight:600;
    color:#ffffff;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
    color: #03ff1c;
}
.tab-links::after{
    content:'';
    width:0;
    height: 3px;
    background: #ffffff;
    positon:absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links.al:hover::after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0; 
    font-size:40px;
    color:#ffffff;
    font-style: italic;
}
.tab-contents{
    display: none;
}
.tab-contents.at{
    display: block;
}
#My work{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height:0%;
    background: linear-gradient(rgba(0,0,0,0.6),#00ff00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 60px;
    color: #080808;
    font-style: italic;
    transition: height 0.5s;

}
.layer a{
    margin-top: 20px;
    color:#62ff00; 
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #000000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer h1{
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000; 
    transition: background 0.5s;
    
}
.btn:hover{
    background: #01ff12;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left h2{
    margin-top: 30px;
    color:#fff;
    font-style: italic;
}
.contact-left h2 i{
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 60px;
    margin-right: 15px;
    color:#03ff1c;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#fff;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    background: #03ff1c;
}
#certifications{
    padding: 50px 0;
}
.ct-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.list{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.list img{
    width:100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.lol{
    width: 100%;
    height:0%;
    background: linear-gradient(rgba(0,0,0,0.6),#00ff00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 60px;
    color: #080808;
    font-style: italic;
    transition: height 0.5s;
}
.lol a{
    margin-top: 20px;
    color:#62ff00; 
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #000000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.list:hover img{
    transform: scale(1.1);
}
.list:hover .lol{
    height: 100%;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copy-right{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:#262626;
    font-weight: 300;
    margin-top: 20px;
    font-size: 30px;
}
@media only screen and(max-width:600){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        margin-left: 30px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 66px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: -20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
}



