/* Overall style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
::selection{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Dark mode */
.dark-mode{
  background: #6c6c6c;
}
.navbar .menu i{
  position: absolute;
  font-size: 20px;
  margin-left: 55px;
  cursor: pointer;
  color: black
}
.navbar.sticky .menu i{
  position: absolute;
  font-size: 20px;
  margin-left: 55px;
  cursor: pointer;
  color: white;
}

/* Loading Animation */
.loader {
  position: fixed;
  border: 7px solid #f3f3f3;
  border-top: 5px solid rgb(255, 0, 0);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  transition: opacity 0.3s ease;
  left: 45%;
  top: 40%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% {transform: rotate(180deg); }
  75% {transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
.load-finish{
  opacity: 0;
}

/* Intro Animation */
.intro{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.slider{
  background: rgb(0, 255, 55);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 11;
}
.dark-mode .slider{
  background: #0dff00;
}
.hide{
  background: black;
  overflow: hidden;
}
.hide span{
  display: inline-block;
  transform: translateY(100%);
}
#highlight{
  color: rgb(255, 0, 0);
}
.dark-mode #highlight{
  color: #00ff2f;
}
.intro-text{
  color: aliceblue;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}

/* Menu button styling */
.menu-btn{
  color: black;
  font-size: 23px;
  cursor: pointer;
  display: none;
  z-index: 10;
}

/* Navigaton bar style */
.navbar{
  font-family: 'Ubuntu', sans-serif;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: rgb(255, 0, 0);
  box-shadow: 0px 3px 10px rgba(91, 93, 97, 0.548);
}
.dark-mode .navbar .fa-toggle-on{
  color: rgb(26, 255, 0);
}
.dark-mode .navbar.sticky{
  background: #000000;
}
.dark-mode .navbar.sticky .fa-toggle-on{
  color: rgb(0, 255, 4);
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .logo a{
  color: black;
  font-size: 35px;
  font-weight: 600;
}
.dark-mode .navbar .logo a{
  color: rgb(0, 0, 0);
}
.navbar .logo a span{
  color: rgb(255, 0, 0);
}
.dark-mode .navbar .logo a span{
  color: #15ff00;
}
.navbar.sticky .logo a span{
  transition: all 0.3s ease;
  color: white;
}
.dark-mode .navbar.sticky .logo a span{
  color: black;
}
.navbar .menu li{
  list-style: none;
  display: inline;
}
.navbar .menu li a{
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.dark-mode .navbar .menu li a{
  color: rgb(255, 255, 255);
}
.navbar .menu li a:hover{
  color: rgb(255, 0, 0);
}
.dark-mode .navbar .menu li a:hover{
  color: #26ff00;
}
.navbar.sticky .menu li a:hover{
  color: white;
}
.dark-mode .navbar.sticky .menu li a:hover{
  color: black;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #747474;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Sroll op button styling */
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(255, 0, 0);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 8;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.dark-mode .scroll-up-btn{
  background: #1eff00;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}

/* Home page styling */
.home{
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: black;
  min-height: 500px;
  height: 100vh;
  /* background: linear-gradient(rgba(167, 115, 115, 0.25),rgba(167, 115, 115, 0.25)); */
  background-size: cover;
}
.dark-mode .home{
  color: white;
}
.home .max-width{
  margin: auto 0 auto 40px;
  line-height: 65px;
}
.home .home-content .line-1{
  font-size: 27px;
}
.home .home-content .line-2{
  font-size: 75px;
  font-weight: 600;
  margin: -3px;
}
.home .home-content .line-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .line-3 span{
  color: rgb(255, 0, 0);
  font-weight: 500;
}
.dark-mode .home .home-content .line-3 span{
  color: #26ff00;
}
.home .home-content a{
  display: inline-block;
  background: rgb(255, 0, 0);
  color: white;
  font-size: 25px;
  padding:0px 35px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(255, 0, 0);
  transition: all 0.3s ease;
}
.dark-mode .home .home-content a{
  background: #37ff00;
  border: 2px solid #00ff26;
}
.home .home-content a:hover{
  color: rgb(255, 0, 0);
  background: none;
}
.dark-mode .home .home-content a:hover{
  color: #04ff00;
}
/* Section styling */
section{
  padding: 80px 0;
}
section .title{
  position: relative;
  color: black;
  font-size: 40px;
  font-weight: 500;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 70px;
}
.dark-mode section .title{
  color: white;
}
section .title::before{
  content: "";
  bottom: 55px;
  left: 50%;
  position: absolute;
  width: 180px;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}
.dark-mode section .title::before{
  background: white;
}
section .title::after{
  font-size: 20px;
  bottom: 40px;
  left: 50%;
  position: absolute;
  padding: 5px;
  color: rgb(255, 0, 0);
  background: white;
  transform: translateX(-50%);
}
.dark-mode section .title::after{
  color: #1aff00;
  background: #192734;
}
.about, .works, .skills, .contact{
  font-family: 'Poppins', sans-serif;
}
.about .about-content, .works .works-content, .skills .skills-content, .contact .contact-content{
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* About page styling */
.about .title::after{
  content: "ME";
  font-style: italic;
}
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.dark-mode .about .about-content .right .text{
  color: white;
}
.about .about-content .right .text span{
  color: rgb(255, 0, 0);
}
.dark-mode .about .about-content .right .text span{
  color: #1aff00;
}
.about .about-content .right p{
  text-align: justify;
}
.dark-mode .about .about-content .right p{
  color: white;
}
.about .about-content .right p span{
  color: rgb(255, 0, 0);
}
.dark-mode .about .about-content .right p span{
  color: #1aff00;
}
.about .about-content .right a{
  display: inline-block;
  background: rgb(255, 0, 0);
  color: white;
  font-size: 20px;
  padding:10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(255, 0, 0);
  transition: all 0.3s ease;
}
.dark-mode .about .about-content .right a{
  background: #00ff2a;
  border: 2px solid #00ff22;
}
.about .about-content .right a:hover{
  color: rgb(255, 0, 0);
  background: none;
}
.dark-mode .about .about-content .right a:hover{
  color: #0dff00;
}

/* Works page styling */
#My work{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.container{
  text-align: center;
  font-style: italic;
}
.dark-mode .container{
  color: rgb(255, 255, 255);
  font-style: italic;
  text-align: center;
}
.layer{
  width: 100%;
  height:0%;
  background: linear-gradient(rgba(0,0,0,0.6),#00ff00);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 60px;
  color: #080808;
  font-style: italic;
  transition: height 0.5s;

}
.layer a{
  margin-top: 20px;
  color:#62ff00; 
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #000000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.layer h1{
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 20px;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #fff;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000000; 
  transition: background 0.5s;
  
}
.btn:hover{
  background: #01ff12;
} 
/* Skills page styling */
.skills .title::after{
  content: "SO FAR";
  font-style: italic;
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}
.dark-mode .skills .skills-content{
  color: white;
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(255, 0, 0);
}
.dark-mode .skills .skills-content .right .line::before{
  background: #22ff00;
}
.skills-content .right .html::before{
  width: 95%;
}
.skills-content .right .css::before{
  width: 75%;
}
.skills-content .right .js::before{
  width: 65%;
}
.skills-content .right .python::before{
  width: 50%;
}
.skills-content .right .mysql::before{
  width: 90%;
}

/* Contact page styling */
.contact .title::after{
  content: "DM";
  font-style: italic;
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.dark-mode .contact .contact-content{
  color: white;
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: rgb(255, 0, 0);
}
.dark-mode .contact .contact-content .row i{
  color: #00ff22;
}
.contact .contact-content .info .head{
  color: #111111;
  font-weight: 600;
}
.dark-mode .contact .contact-content .info .head{
  color: whitesmoke;
}
.contact .contact-content .info .sub-title{
  color: #333333;
}
.dark-mode .contact .contact-content .info .sub-title{
  color: #d3d3d3;
}
.contact .right form .fields{
  display: flex;
}
.dark-mode .contact .right form input, .dark-mode .contact .right form textarea{
  color: #d3d3d3;
  background: #192734;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact-right form{
  width: 100%;
}
.dark-mode form input{
  width: 100%;
  border: 0;
  outline: none;
  background: #02ff02;
  padding: 15px;
  margin: 15px 0;
  color: #000000;
  font-size: 18px;
  border-radius: 6px;
}
.dark-mode form textarea{
width: 100%;
  border: 0;
  outline: none;
  background: #02ff02;
  padding: 15px;
  margin: 15px 0;
  color: #000000;
  font-size: 18px;
  border-radius: 6px;
}
form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #ff0000;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copy-right{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background:#262626;
  font-weight: 300;
  margin-top: 20px;
  font-size: 30px;
}
#msg{
  color: #00ff00;
  margin-top: -30px;
  display: block;
}
/* Footer styling */
footer{
  font-family: 'PT Sans',sans-serif;
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: start;
  justify-content: space-around;
  align-items: center;
}
footer span a{
  color: rgb(255, 0, 0);
  text-decoration: none;
}
.dark-mode footer span a{
  color: #2bff00;
}
.social-icons{
  float: right;
  margin-top: 15px;
  margin-right: 130px;
  display: flexbox;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(255, 0, 0);
  align-items: center;
}
.dark-mode .social-icons{
  color: #00ff1e;
}
.social-icons a{
  color: rgb(255, 0, 0);
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.dark-mode .social-icons a{
  color: #09ff00;
}
.social-icons a:hover{
  color: aliceblue;
}

body {
  min-height: 100lvh;
  background-color: #000000;
}

.circle {
  --circle-size: 25px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid #000;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  background-color:#ff0000;
}
.dark-mode .circle{
  background-color: #00ff00;
}
/* Responsive */
@media (max-width: 1300px){
  .home .max-width{
    margin-left: 0px;
  }
  .works .works-content .card{
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 1104px){
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right{
    flex: 100%;
  }
}
@media (max-width: 991px){
  .max-width{
    padding: 0 50px;
  }
}

@media (max-width: 947px){
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: black;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0%;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    color: white;
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .menu-btn{
    display: block;
    z-index: 5;
    transition: all 0.3s ease;
  }
  .menu-btn.active{
    color: white;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .home .home-content .line-2{
    font-size: 70px;
  }
  .home .home-content .line-3{
    font-size: 35px;
  }
  .home .home-content a{
    font-size: 23px;
  }
  .max-width{
    max-width: 930px;
  }
  .about .about-content .column{
    width: 100%;
  }
  .works .works-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,.contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
  }
  .intro-text{
    font-size: 20px;
  }
}
@media (max-width: 690px){
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .line-2{
    font-size: 60px;
  }
  .home .home-content .line-3{
    font-size: 32px;
  }
  .home .home-content a{
    font-size: 20px;
  }
  .works .works-content .card{
    width: 100%;
  }
  .social-icons{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    display: flexbox;
    font-size: 20px;
    letter-spacing: 5px;
    color: crimson;
    align-items: center;
  }
}
@media (max-width: 510px){
  .home .home-content .line-2{
    font-size: 50px;
  }
  .home .home-content .line-3{
    font-size: 27px;
  }
  .about .about-content .left img{
    height: 300px;
    width: 300px;
  }
  .contact .right form .fields{
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
    margin: 0;
  }
  .scroll-up-btn{
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
  .intro-text{
    font-size: 15px;
  }
}